#messages {
  float: left;
  font-family: 'Arial';
  background-color: lightgray;
  width: 700px;
  margin: 10px;
  padding: 10px;
  box-sizing: border-box;
}

#users {
  float: left;
  font-family: 'Arial';
  background-color: lightgray;
  width: 100px;
  margin: 10px;
  padding: 10px;
}

#input {
  margin: 10px;
}

input {
  width: 700px;
}